<section class="py-5 move-section">
    <div class="container">
        <div class="col pl-lg-5">
            <h1 class="hero-heading mb-3">Analytics</h1>
            <h5 class="nag">Top Category:</h5>
            <%= link_to Category.top, category_path(Category.top), class: "removelink text-dark"%>
            <h5 class="nag">Newest Category:</h5>
            <%= link_to Category.newest, category_path(Category.newest), class: "removelink text-dark"%>
            <h5 class="nag">Newest Comment:</h5>
            <%= link_to "#{Comment.newest.content} on Goal: #{Comment.newest.goal.title}", goal_path(Comment.newest.goal), class: "removelink text-dark"%>
            <h5 class="nag">Longest Comment:</h5>
            <%= link_to "#{Comment.longest.content} on Goal: #{Comment.longest.goal.title}", goal_path(Comment.longest.goal), class: "removelink text-dark"%> 
             <h5 class="nag">Percentage of Goals Done:</h5>
            <%= Goal.goal_percentage_done%>%
             <h5 class="nag">Number of Goals Done:</h5>
            <%= Goal.completed_goals.count%>
             <h5 class="nag">Goal with the most cheers and likes:</h5>
            <%= link_to Goal.most_cheers_and_comments.title, goal_path(Goal.most_cheers_and_comments), class: "removelink text-dark"%>
             <h5 class="nag">Total Comments:</h5>
            <%= Goal.total_comments%>
             <h5 class="nag">Total Cheers:</h5>
            <%= Goal.total_cheers%>
            <h5 class="nag">Average amount of cheers:</h5>
            <%= Goal.average_cheers%>
            <h5 class="nag">Average amount of habits:</h5>
            <%= Goal.average_number_of_habits%>
            <h5 class="nag">Average amount of comments:</h5>
            <%= Goal.average_comments%>
            <h5 class="nag">Goals due soon:</h5>
            <%= Goal.all_due_soon%>
            <h5 class="nag">Goals past due:</h5>
            <%= Goal.all_past_due%>
            <h5 class="nag">Goals created in May:</h5>
            <%= Goal.by_month("May")%>
            <h5 class="nag">Habits created in May:</h5>
            <%= Habit.by_month("May")%>
            <h5 class="nag">Latest Goal Created:</h5>
            <%= link_to Goal.latest.title, goal_path(Goal.latest), class: "removelink text-dark"%>
            <h5 class="nag">Average amount of goals per user:</h5>
            <%= User.average_number_of_goals%>
            <h5 class="nag">Least Active:</h5>
            <%= link_to User.least_active.name, user_path(User.least_active), class: "removelink text-dark"%>
            <h5 class="nag">Most Active:</h5>
            <%= link_to User.most_active.name, user_path(User.most_active), class: "removelink text-dark"%>
            <h5 class="nag">User with the most comments:</h5>
            <%= link_to Goal.top_comments.user.name, user_path(Goal.top_comments.user), class: "removelink text-dark"%>
            <h5 class="nag">User with the most cheers:</h5>
            <%= link_to Goal.most_cheers.user.name, user_path(Goal.most_cheers.user), class: "removelink text-dark"%>
            <h5 class="nag">User with the least comments:</h5>
            <%= link_to Goal.least_comments.user.name, user_path(Goal.least_comments.user), class: "removelink text-dark"%>
            <h5 class="nag">User with the least cheers:</h5>
            <%= link_to Goal.least_cheer.user.name, user_path(Goal.least_cheer.user), class: "removelink text-dark"%>
            </div>
        
            </div>

        
        </div>
    </div>
</section>
