<h3>Username</h3>
<%= @user.username %>

<img src="<%=@user.image_url%>">

<h3>Name</h3>
<%= @user.name %>

<h3>Email</h3>
<%= @user.email %>

<h3>Goals</h3>
<% @user.goals.each do |goal| %>
    <li><%= link_to goal.title, goal_path(goal)%></li>
<%end%>

<h3>Habits</h3>
<% @user.habits.each do |habit| %>
    <li><%= link_to habit.name, habit_path(habit)%></li>
<%end%>

<h3>Comments</h3>
<% @user.comments.each do |comment| %>
    <li><%= link_to comment.content, comment_path(comment)%></li>
<% end %>

<br>
<br>
<%= form_with url: logout_path, method: "delete" do |f|%>
<%= f.submit "Logout"%>
<% end %>