<section class="py-5 move-section">
      <div class="container move-footer">
        <p class="subtitle text-primary">Edit this goal</p>
        <h1 class="h2 mb-5"> Basic information<span class="text-muted float-right"><%= link_to "Back", goals_path, method: :get, class: "removelink text-dark"%></span></h1>
          <div class="row">
            <div class="m-auto">
                    <% if flash[:errors]%>
                        <% flash[:errors].each do |e| %>
                            <li style="color: red">
                                <%= e %>
                            </li>
                        <%end%>
                    <%end%>
                    <%= form_with model:@goal do |f|%>
                        <%= f.label :title %>
                        <br>
                        <%= f.text_field :title, class: "box-color", style: "width: 1020px; height: 37px;"%>
                        <br>
                        <br>
                        <%= f.label :description%>
                        <br>
                        <%= f.text_area :description, class: "box-color", rows: "5", style: "width: 1020px"%>
                        <br>
                        <br>
                        <%= f.label :due_date%>
                        <br>
                        <%= f.date_field :due_date, class: "box-color", style: "width: 1020px; height: 37px;"%>
                        <br>
                        <br>
                        <%= f.label :category %>
                        <br>
                        <%= f.collection_select :category_id, @categories, :id, :title, {include_blank: 'Select a category'}, class: "box-color", style: "width: 1020px; height: 37px;"%>
                        <br>
                        <br>
                        <%= f.label :new_category %>
                        <br>
                        <%= f.text_field :id_category, class: "box-color", style: "width: 1020px; height: 37px;"%>
                        <br>
                        <br>
                        <%= f.label "Habits", class: "h5 nag"%>
                        <br>
                        <br>
                        <%= f.fields_for :habits do |hab|%>
                            <%= hab.label :name%>
                            <br>
                            <%= hab.text_field :name, class: "box-color", style: "width: 1020px; height: 37px;"%>
                            <br>
                            <%= hab.label :description%>
                            <br>
                            <%= hab.text_area :description, class: "box-color", rows: "3", style: "width: 1020px;"%>
                            <br>
                            <br>
                        <%end%>
                        <%= f.submit class: "btn btn-primary", style: "display: flex; justify-content: center;"%>
                    <% end %>   
                </div>
            </div>
        </div>
    </section>


