<section class="py-5 move-section">
      <div class="container move-footer">
        <p class="subtitle text-primary">Category</p>
        <h1 class="h2 mb-5"> Basic information<span class="text-muted float-right"><%= link_to "Back", categories_path, method: :get, class: "removelink text-dark"%></span></h1>
          <div class="row">
            <div class="m-auto">
                <% if flash[:errors]%>
                    <% flash[:errors].each do |e| %>
                        <li style="color: red">
                            <%= e %>
                        </li>
                    <%end%>
                <%end%>

                <%= form_with model:@category do |f|%>
                    <%= f.label :title %>
                    <br>
                    <%= f.text_field :title, class: "box-color", style: "width: 1020px; height: 37px;"%>
                    <br>
                    <br>
                    <%= f.submit class: "btn btn-primary", style: "margin-left: 450px"%>
                <% end %>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>